.page-section {
  padding: 2rem 0;
  &__bg-pic {
    /* background-color: $mainOrange; */
    background-image: url(../../assets/images/texture-orange.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &--blue {
    background-color: $mainBlue;
  }
  &__title {
    border-bottom: 2px dotted white;
    padding-bottom: 3px;
    text-align: center;
    width: 280px;
    margin: 1rem auto 0.7rem auto;
    @mixin atSmall {
      width: 500px;
      margin: 0 auto;
      padding-bottom: 10px;
    }
    @mixin atMedium {
      width: 500px;
      margin: 0 auto;
    }
    @mixin atLarge {
      width: 700px;
      margin: 0 auto;
    }
    &:hover {
      padding-bottom: 10.5px;
      cursor: pointer;
    }
  }
  &--no-b-margin {
    margin-bottom: 0;
  }
  &--orange {
    /* background-color:rgba($mainBlue, 0.7); */
    background-color: rgba(20, 5, 2, 0.993);
  }
}
